body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.col-lg-6 {
    padding-top: 50px;
}

section {
    min-height: 100%;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}

img {
    width: 100%;
}

.full-page ul {
    padding-left: 0px;
}

.full-page li {
    list-style: none;
    margin-bottom: 8px;
    font-size: 14px;
}

h1 {
    margin-bottom: 50px;
}

.intro-section {
    text-align: left;
    background-color: white;
}

.submission-section {
    background-color: rgb(240, 240, 240);
}

.submission-section p {
    font-size: 20px;
}

.organization-section {
    text-align: left;
}

td {
    font-size: 16px;
}

td:first-child {
    text-align: right;
    font-weight: bold;
}

td:last-child {
    text-align: left;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

i {
    margin-bottom: 30px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}